@import url('https://fonts.googleapis.com/css2? family= Archivo+Black & family= EB+Garamond & display=swap');


*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;

}

.line{
    margin-bottom: 5px;
    margin-left: 50px;
    height: 3px;
    width: 150px;
    right: 50px;
    background: #041738
}

.line-um{
    margin-top: 130px;
    margin-left: 8px;
    height: 3px;
    width: 150px;
    right: 50px;
    background: #041738

}

.line-centrer{
    margin-left: 600px;
    height: 3px;
    width: 150px;
    bottom: 50%;
    right: 50px;
    background: #041738
}

#line-treinamento{
    margin-left: 0px;
    margin-bottom: 5px;
    height: 3px;
    width: 155px;
    bottom: 50%;
    right: 50px;
    background: #041738
}

.line-end{
    margin-bottom: 5px;
    height: 3px;
    width: 150px;
    bottom: 50%;
    right: 50px;
    background: #041738
}



.cabecalho{
    background: #f6f6ff;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
   
}
.cabecalho-imagem{
    height: 102px;

}

.cabecalho-menu{
    display: flex;
    gap:32px;
}

.cabecalho-menu-item{
    font-family: 'Archivo Black', sans-serif;
    color: #041738;
    font-weight: 400;
    font-size: 18px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.cabecalho-menu-item:hover{
    transition: 0.5s;
    background-color: #cde2f3;
    border-radius: 5px;
    animation-name: bounce;
    animation-timing-function: ease;
}

.conteudo{
    margin-bottom: 48px;
   
}

.conteudo-principal{
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-escrito-titulo{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #041738;
}

.contudo-principal-escrito-subtitulo{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #041738;
}

.contudo-principal-imgagem{
    height: 430px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce{
    0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}


#conteudo-secundario{
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 50px;
    line-height: 1;
    font-size: 30px;
}

.paragrafo-simples{
 color: #041738;
 font-family: 'Archivo Black', sans-serif;
 font-size: 25px;
}


.paragrafo-bold{
 color: #041738;
 line-height: 1.5;
 font-family: 'Archivo Black', sans-serif;
 font-size: 25px;
}

.conteudo-secundario-titulo{
    font-family: 'Archivo Black', sans-serif;
    text-align: justify;
    margin-left: 45px;
    font-size: 30px;
    color: #041738;
    margin-bottom: 16px;

}

.conteudo-secundario-paragrafo{
    font-family: 'Archivo Black', sans-serif;
    text-align: justify;
    margin-left: 45px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: black;

}

.agil-lista{
    margin-top: 10px;
    text-align:justify;
    line-height: 1.3;
    font-size: 18px;
    list-style-type: circle;
}

.agil-lista li{
    font-family: 'Archivo Black', sans-serif;
    margin-left: 300px;
    margin-right: 300px;
}

.pos-card{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: 20px;
}

#imagem-lgpd{
    width: 30px;
}

#inception{
    margin-top: 50px;
}

.mobile-dev{
    position: relative;
    margin-left: 200px;
    margin-bottom: 0px;
    max-width: 465px;
    height: 100px;
    padding: 2rem;
    
}

#mobile-dev-met-agil{
    position:relative;
    left: 600px;
    right: 0;
    top: -205px;
}

.icone{
    position:absolute;
    width: 70px;
    height: 69px;
    background-color: rgba(133, 133, 133, 0.07);
    top: 60px;
    left: -45px;
    border-radius: 12px;  
}

.icons{
    align-items: flex-start;
    width: 41px;
    height: 41px;
    position:absolute;
    top: 13px;
    bottom: 0;
    left: 14px;
    right: 0;
}

.pos-card-img{
    width: 500px;
}

.pos-card-image{
    margin-top: 25px;
    width: 50%;
}

.pos-card-second-child-image{
    align-items: flex-start;
    width: 41px;
    height: 41px;
    position:relative;
    bottom: 0;
    top: 50px;
    left: -60px;
    right: 0;
    
}

.pos-card-second-child{
    margin-bottom: 100px;
    text-align: justify;
}

.imagem-mao{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.subtitulo-paragrafo{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #041738;
}

.subtitulo-paragrafo-treinamento{
    font-family: 'Archivo Black', sans-serif;
    text-align: justify;
    font-size: 30px;
    color: #041738;
}

.paragrafo-conteudo{
    line-height: 1.5;
    text-align: justify;
    font-family: 'Archivo Black', sans-serif;
}

.centrer-objects{
    margin-top: 10px;
    text-align: center;
}

.centrer-objects-titulo{
    font-family: 'Archivo Black', sans-serif;
    font-size: 35px;
    color: #041738;
    text-align: center;
}

.centrer-objects-conteudo{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 15px;
    

}

.rodape{
    padding: 20px;
    border-top: 0.4px solid #363636;
    background: #363636;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.rodape-imagem{
    height: 100px;
    
}


.rodape-conteudo{
    color: #fff2e7;
    font-family: 'EB Garamond', serif;
    margin-left: 0px;
    line-height: 1.2;
}



.rodape-social-media {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 450px;
    
}

.rodape-social-media img {
    width: 36px;
    margin-left: 3rem;
}


.circle {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #eefaff, #98bedf);
    clip-path: circle(40% at right 80%);
    z-index: -1;
}